<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/name" method="post" enctype="multipart/form-data">
        <div class="button">
            <label for="photo">
                👉 CLICK HERE! 👈
            </label>
        </div>
        <input type="file" id="photo" name="photo" accept="image/*" onchange="loadFile(this)">
        <hr>
        <button type="submit" class="btn">Send</button>
    </form>
</body>
</html>