<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Concept 1</title>
</head>
<body>
    <br>    
    <form action="/web/name" method="post" enctype="multipart/form-data">
        <div class="button">
            <h1 label for="photo">
                [사진 선택]
            </label>
        </div>
        <input type="file" id="photo" name="photo" accept="image/*"><br><br>
        <hr>
            <input type="submit" class="btn" onclick="submit()" ></button>
    </form>
</body>
</html>
<script>
</script>