<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    .input-box {
        text-align: right;
        padding: 20px;
    }
    button {
        background-color: #1b5ac2;
        color: white;
    }
</style>
    <div class="input-box">
        <select id="col">
            <option id="filename" value="filename">filename</option>
            <option id="restname" value="restname">restname</option>
        </select>
        <form id="search" action="">
            <input type="text" id="keyword" name="name" placeholder="검색어 입력">
            <button type="submit" onclick="search()">검색</button>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>Userid</th>
            <th>Date</th>
            <th>Filename</th>
            <th>Restname</th>
            <th>rekognition</th>
        </tr>
        {% for content in contents %}
        <tr>
            <td>
                {{ content.userid }}
            </td>
            <td>
                {{ content.date }}
            </td>
            <td>
                {{ content.filename }}
            </td>
            <td>
                {{ content.restname }}
            </td>
            <td>
                {{ content.rekognition }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script>
function search(e){
    var keyword = document.getElementById("keyword").value;
    console.log("keyword = " + keyword);
    if (keyword == "")
        alert("검색어를 입력하세요")
    else
    {
        var sel = document.getElementById("col");
        if (sel.options[sel.selectedIndex].value == "filename")
            document.getElementById("keyword").name = "filename"
        //else if (sel.options[sel.selectedIndex].value == "rekognition")
        //  document.getElementById("keyword").name = "rekognition"
        else if (sel.options[sel.selectedIndex].value == "restname")
            document.getElementById("keyword").name = "restname"
        document.getElementById("search").method = "get";
        document.getElementById("search").submit();
    }
}
</script>
</html>