<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select name</title>
</head>
<body>
        {% for RestInfo in nameArray %}
<form action="/admin/name" name={{ nameArray.name }} method="get">
    <div>
            <input type="hidden" name = "name" value="{{RestInfo.name}}" />
            <input type="hidden" name = "lat" value="{{RestInfo.lat}}"/>
            <input type="hidden" name = "lng" value="{{RestInfo.lng}}"/>
        <button type="submit" class="btn">{{RestInfo.name}}</button>
    </div>
    <hr>
</form>
        {% endfor %}
</body>

</html>