<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select name</title>
</head>
<body>
<form action="/web/upload" method="post">
    <input type="hidden" id="fileLocation" name = "fileLocation" value="{{ fileLocation }}"/>
    <input type="hidden" id="user" name="user" value="{{ userId }}"/>
    <input type="hidden" id="lat" name = "lat" value=""/>
    <input type="hidden" id="lng" name = "lng" value=""/>
    <input type="hidden" id="rekog" name="rekog" value=""/>
    <select name="name" multiple size="4">
        {% for RestInfo in nameArray %}
            <option value="{{RestInfo.name}}" onclick="setLocation('{{RestInfo.lat}},{{RestInfo.lng}}')">{{RestInfo.name}}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn">선택</button>
</form>
    <br><br>
    <hr>
        {% for Label in data.Labels %}
            NAME : {{ Label.Name }} | Confidence : {{ Label.Confidence }}% <br>
            <script>
                if (document.getElementById('rekog').value == "")
                    document.getElementById('rekog').value = "{{ Label.Name }}"
                else
                    document.getElementById('rekog').value = document.getElementById('rekog').value.concat(', {{ Label.Name }}');
            </script>
        {% endfor %}
</body>
<script>
function setLocation(latLng)
{
    var location = latLng.split(',');
    document.getElementById('lat').value = location[0];
    document.getElementById('lng').value = location[1];
}
</script>
</html>